@import "../../breakpoints/breakpoints.scss";

.home-container{
    background-color: $white;
}
@include media('<=tablet'){
.home-img-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    .home-img{
        width: 90%;
    }  
}
}

