@import "../../breakpoints/breakpoints.scss";

body.light-mode .home-img-container{
    background-color: $white;
}

@include media('>=tablet'){
    .home-img-container{
        height: 100%;
        display: grid;
        padding: 0 5% 0 5%;
        grid-template-columns: repeat(12, [col-start] 1fr);
        grid-template-rows: repeat(12, [row-start] 5%);
        overflow-y: hidden;
        .home-img{
            box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
            width: 100%;
        }
        :hover{
            transform: scale(1.1);
            transition: 0.5s;
            cursor: pointer;
        }
        .bilde1{
            grid-column: 2/6;
            grid-row: 2;
        }
        .bilde2{
            grid-column: 7/13;
            grid-row: 5;
        }
        .bilde3{
            grid-column: 2/9;
            grid-row: 8;
        }
        .bilde4{
            grid-column: 8/12;
            grid-row: 11;
        }
        .bilde5{
            grid-column: 2/6;
            grid-row: 14;
        }
        .bilde6{
            grid-column: 8/12;
            grid-row: 17;
        }
    }
}

@include media('<=tablet'){
    .home-img-container{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px 0 25px 0;
    }
   
        .home-img{
            margin: 25px 0;
            height: 100%;
            width: 90%;
            box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
        }  
    
}