@import "../../breakpoints/breakpoints.scss";

.hero-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: black;
    background-image: url(../../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h5{
        margin-top: -10vh;
        color: $white;
        font-size: 9rem;
        mix-blend-mode: difference;
    }

    .professions{
        width: 100%;
        display: grid;
        justify-content: center;
        grid-auto-flow: column;
        gap: 50%;
    }

    p{
        font-size: 1.5rem;        
        color: $white;
        font-family: 'AudreyBold';
    }
    .scroll{
        color: white;
        position: absolute;
        font-weight: 600;
        transform: rotate(90deg);
        text-transform: uppercase;
        mix-blend-mode: difference;
        z-index: 100;
        bottom: 20px;
        right: 0;
    }
}

@include media(">=LGdesktop"){
    .hero-container{
        h5{
            font-size: 13rem;
        }
    }
}

@include media("<=desktop"){
    .hero-container{
        h5{
            font-size: 6rem;
        }
        .professions{
            gap: 30%;
        }
    }
}

@include media("<=smalldesk"){
    .hero-container{
        h5{
            font-size: 5rem;
        }
        .scroll{
            display: none;
        }
        .professions{
            gap: 40%;
        }
    }
}

@include media("<=tablet"){
    .hero-container{
        height: calc(var(--vh, 1vh) * 100);
        h5{
            display: none;
        }
        .professions{
            display: none;
        }
    }
}