@import '../../breakpoints/breakpoints.scss';

.gallery-screen{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(20, [col-start] 1fr);
    grid-template-rows: repeat(14, [row-start] 1fr);

    .gallery-img-container{
        grid-column: 2/11;
        grid-row: 2/14;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include media("<=tablet"){
            grid-column: 2/21;
            grid-row: 4/11;
        }
        @include media("<=phone"){
            grid-column: 1/21;
            grid-row: 3/11;
        }
    }
    .image2{
        @include media("<=desktop"){
            background-position: right;
        }
    }
    .img-header{
        grid-column: 12/20;
        grid-row: 4/8;
        font-size: 2.9rem;
        text-transform: uppercase;
        font-family: 'freight-neo-pro', 'sans-serif';
        font-weight: 500;
        @include media("<=desktop"){
            font-size: 2.5rem;
            grid-column: 12/21;
        }
        @include media("<=phone"){
            grid-column: 1/21;
            grid-row: 3/11;
        }
        @include media("<=phone"){
            font-size: 2rem;
            grid-column: 1/21;
            grid-row: 2/11;
        }
    }
    .camera-stats{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 13/21;
        grid-row: 8/11;
        span{
            font-weight: 600;
        }
        @include media("<=tablet"){
            grid-column: 5/21;
            grid-row: 11/14;
            align-self: center;
            gap: 20px;
        }
    }
    .gallery-navs{
        display: grid;
        grid-auto-flow: column;
        grid-column: 13/21;
        align-self: end;
        grid-row: 13;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.5rem;
            width: fit-content;
        }
        @include media("<=tablet"){
            grid-column: 5/21;
            grid-row: 14;
            align-self: center;
        }
    }
}

.close-btn{ 
    position: absolute;
    top: 10%;
    right: 10%;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    @include media("<=tablet"){
        top: 5%;
        right: 5%;
    }
    @include media("<=phone"){
        top: 2%;
        right: 5%;
    }
}