@import '../../breakpoints/breakpoints.scss';

.gallery-screen{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(20, [col-start] 1fr);
    grid-template-rows: repeat(14, [row-start] 1fr);

    .gallery-img-container{
        grid-column: 2/11;
        grid-row: 2/14;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-header{
        grid-column: 10/20;
        grid-row: 4/8;
        font-size: 2.8rem;
        text-transform: uppercase;
    }
    .camera-stats{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 13/21;
        grid-row: 8/11;
        span{
            font-weight: 600;
        }
    }
    .gallery-navs{
        display: grid;
        grid-auto-flow: column;
        grid-column: 13/21;
        align-self: end;
        grid-row: 13;
        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }
}

.close-btn{ 
    position: absolute;
    top: 10%;
    right: 10%;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}